.App {
  height:100vh;
  width:100vw;
  background: linear-gradient(rgb(155, 231, 131),rgb(26, 209, 81));
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
